/vendor/
.DS_Store
.env
/node_modules
.idea/
.vscode/
*.log
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
composer.lock
package-lock.json

